:root {
  --border-radius: 6px;
  --full-white:    #FEFEFE;
  --light-gray:    #F1F3F5;
  --dark-gray:     #697179;
  --strong-burple: #5B4EE2;
  --light-burple:  #DEDCF9;
  --strong-green:  #1ABA97;
  --dark-green:    #159579;
  --light-green:   #D1F1EA;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 62.5%;
  max-width: 100vw;
  overflow-x: hidden;
}